.header {
    background-color: #2196f3;
}
.section1{
    background-color: gray;
}
.section2{
    background-color: blanchedalmond;
}
.section{
    background-color: #bf89f1;
}
#gmail{
    background-color: #7fe9ed;
}
#giabu{
    background-color: #f9d21b;
}
#portfolio{
    background-color: #00bcd4;
}